.image-dropdown {
  display: inline-block;
  border: 1px solid;
}
.image-dropdown {
  height: 30px;
  overflow: hidden;
}
/*#image-dropdown:hover {} */
.btn-search{
  margin-top: -20px;
}
.image-dropdown .img_holder {
  cursor: pointer;
}
.image-dropdown img.flagimgs {
  height: 30px;
}
.image-dropdown div.iTEXT {
  position: relative;
  height:32px;
  cursor:pointer;
}
