@import url('https://fonts.googleapis.com/css?family=Nunito+Sans|Caveat|Merriweather|Pirata+One|Vidaloka');
.link {
    stroke: #ccc;
}
.edgelabel{
    font-size:13px;
    fill:#ccc;
}
.node text {
    pointer-events: none;
    font: 10px sans-serif;
}
.btn.btn-d3graph{
    font-family: 'nunito sans';
    color: white;
    background: #1465ae;
    border-radius: 0;
    margin:2px;
    width:150px;
}
input#filter{
    margin-bottom:20px
}
.btn.btn-d3graph:hover, .btn.btn-d3graph:focus, .btn.btn-d3graph.focus {
    color: #ddd;
    text-decoration: none;
}

div.modal-header{
    padding: 15px;
    background-color: #1465ae;
    color: white;
    font-family: 'nunito sans'
}
.modal-content{
    border-radius:0px;
}
.selection {
    stroke          : gray;
    stroke-width    : 1px;
    stroke-dasharray: 4px;
    stroke-opacity  : 0.5;
    fill            : transparent;
}

td{
    max-width: 100px;
     word-wrap:break-word;
}