.container{
  margin-top:50px;
}
.well{
  margin-top:50px;
}
.image-dropdown {
  display: inline-block;
  border: 1px solid;
}
.image-dropdown {
  height: 30px;
  overflow: hidden;
}
.iTEXT{
  font-size:24px;
}
/*#image-dropdown:hover {} */

.image-dropdown .img_holder {
  cursor: pointer;
}
.image-dropdown img.flagimgs {
  height: 30px;
}
.image-dropdown span.iTEXT {
  position: relative;
}
