@import url('https://fonts.googleapis.com/css?family=Nunito+Sans|Caveat|Merriweather|Pirata+One|Vidaloka');
.link {
    stroke: #ccc;
}
.edgelabel{
    font-size:13px;
    fill:#ccc;
}

input#filter{
    margin-bottom:20px
}
.btn.btn-d3graph:hover, .btn.btn-d3graph:focus, .btn.btn-d3graph.focus {
    color: #ddd;
    text-decoration: none;
}

div.modal-header{
    padding: 15px;
    background-color: #1465ae;
    color: white;
    font-family: 'nunito sans'
}
.modal-content{
    border-radius:0px;
}
.selection {
    stroke          : gray;
    stroke-width    : 1px;
    stroke-dasharray: 4px;
    stroke-opacity  : 0.5;
    fill            : transparent;
}

td{
    max-width: 100px;
     word-wrap:break-word;
}
.flex-container{
    display:flex;
}
.flex-div{
    width: 50%;
    padding: 20px;
}
.flex-div button{
    width:30%;
    margin:10px;
}
.dropdown-trigger.btn{
    width:200px;
}